<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/bot_icon.png') }}" type="image/x-icon" /> 
    <title>Bot Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/footer.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script type="text/javascript" language="javascript">
        var countOfFields = 0; // Текущее число полей
        var curFieldQuestionId = 0; // Уникальное значение для атрибута name
        var curFieldAnswerId = 0;
        var colForm = 0;
        var maxFieldLimit = 225; // Максимальное число возможных полей
        function deleteField(a) {
            // Получаем доступ к ДИВу, содержащему поле
            var contDiv = a.parentNode;
            // Удаляем этот ДИВ из DOM-дерева
            contDiv.parentNode.removeChild(contDiv);
            // Уменьшаем значение текущего числа полей
            countOfFields--;
            // Возвращаем false, чтобы не было перехода по сслыке
            return false;
        }

        function addField() {
            // Проверяем, не достигло ли число полей максимума
            if (countOfFields >= maxFieldLimit) {
                alert("Число полей достигло своего максимума = " + maxFieldLimit);
                return false;
            }
            // Увеличиваем текущее значение числа полей
            countOfFields++;
            // Увеличиваем ID
            curFieldQuestionId++;
            curFieldAnswerId++
            colForm++
            // Создаем элемент ДИВ
            var div = document.createElement("div");
            // Добавляем HTML-контент с пом. свойства innerHTML
            div.innerHTML = "Question<input class='input-group-text' name=\"q" + curFieldQuestionId + "\" type=\"text \" / style='margin:8px' > Answer <input class='input-group-text' name=\"a" + curFieldAnswerId + "\" type=\"text \" / style='margin:8px;'> <a onclick=\"return deleteField(this)\" href=\"#\" style='margin:8px; margin-bottom:20px;display: inline-block;background: red;color: #fff;padding: 12px;border: none;border-radius: 3px;text-decoration: none;font-family: Tahoma;font-size: 18px;line-height: 1;font-weight: 100;cursor: pointer;'>Del</a>";
            // Добавляем новый узел в конец списка полей
            document.getElementById("parentId").appendChild(div);
            // Возвращаем false, чтобы не было перехода по сслыке
            return false;
        }
    </script>
</head>

<body style="background-color:gainsboro;">
    <h1 align="center" style="font-family: arial black ;margin-left:100px; margin-top: 40px;">VK Chat-Bot Creator <img style="width: 120px;" src="{{ url_for('static', filename='images/bot_icon.png') }}"></h1>
    <form style="margin: 50px;" method="POST" action=''>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">TOKEN Api VK </span>
            <input type="text" name="token" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div id="parentId">
            <div>

            </div>
        </div>
        <div>
            <button class="btn btn-outline-primary" style='margin:8px' onclick="return addField();" href="#">add reaction</button>
        </div>
        <input style='margin:8px;margin-bottom:20px;display: inline-block;background: green;color: #fff;padding: 12px;border: none;border-radius: 3px;text-decoration: none;font-family: Tahoma;font-size: 18px;line-height: 1;font-weight: 100;cursor: pointer;' class="s" type="submit" value="Create my bot" />
    </form>
</body>
<footer>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-6">        
                <div id="infol">
                    <p align = center>This website created by Sp0ge &copy 2020</p>
                </div>
            </div>    
        </div>        
    </div>  
</footer>    
</html>